@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #0c0a09;
  font-family: "Inter";
}

body {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
}

.custom-scroll {
  --sb-track-color: #f5f5f400;
  --sb-thumb-color: #f5f5f4;
  --sb-size: 6px;
}

.custom-scroll::-webkit-scrollbar {
  width: var(--sb-size);
}

.custom-scroll::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
  margin: 0 0 10px 0;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  .custom-scroll {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
